{{#if awards.length}}
  {{> components/hr.hbs size="md" }}
  <section class="section">
    <header>
      <h2 class="section-title">
        <span class="icon {{ ICO "award" }}"></span>
        {{ TITLE "awards" }}
      </h2>
    </header>
    <section id="awards">
      {{#each awards}}
        <section class="award-item">
          {{#if summary}}
            <label for="award-item-{{@index}}"></label>
          {{/if}}
          <header class="clear">
            <div>
              {{#if title}}
                <div class="title">{{ title }}</div>
              {{/if}}
              {{#if awarder}}
                <div class="awarder">{{ awarder }}</div>
              {{/if}}
            </div>
            {{#if date}}
              <div class="date">{{ Y date }}</div>
            {{/if}}
          </header>
          <div class="item">
            {{#if summary}}
              <div class="summary">{{ summary }}</div>
            {{/if}}
          </div>
        </section>
      {{/each}}
    </section>
  </section>
{{/if}}
