{{#basics}}
<header id="header" class="clear">
  <h1 class="name">
    {{ name }}
    <img class="image" src="{{ logo }}" width="200">
  </h1>
  {{> components/hr.hbs size="lg" }}
  <div class="label">
    <img src="{{ image }}" width="200">
    <h2>{{ label }}</h2>
  </div>
  {{> components/hr.hbs size="lg" }}
  <section class="section">
    <header>
      <h2 class='section-title'>
        <span class="icon {{ ICO "contacts" }}"></span>
        contacts
      </h2>
    </header>
    {{#location}}
    <div class="location username">
      <span class="url">
        <span class="icon {{ ICO "location" }}"></span>
        {{#if address}}
          <span class="address">{{ address }},</span>
        {{/if}}
        {{#if postalCode}}
          <span class="postalCode">{{ postalCode }},</span>
        {{/if}}
        {{#if city}}
          <span class="city">{{ city }},</span>
        {{/if}}
        {{#if region}}
          <span class="region">{{ region }}</span>
        {{/if}}
        {{#if countryCode}}
          <span class="countryCode">{{ countryCode }}</span>
        {{/if}}
      </span>
    </div>
  {{/location}}
  {{#if birth}}
    {{ birth }}
  {{/if}}
  <div id="contact">
    {{#if url}}
      <div class="website username">
        <span class="url">
          <span class="icon {{ ICO "link" }}"></span>
          <a class="hide-href-print" target="_blank" href="{{ url }}">{{ URL url }}</a>
        </span>
      </div>
    {{/if}}
    {{#if email}}
      <div class="email username">
        <span class="url">
          <span class="icon {{ ICO "mail" }}"></span>
          <a class="hide-href-print" href="mailto:{{ email }}">{{ email }}</a>
        </span>
      </div>
    {{/if}}
    {{#if phone}}
      <div class="phone username">
        <span class="url">
          <span class="icon {{ ICO "phone" }}"></span>
          <a class="hide-href-print" href="tel:{{ phone }}">{{ phone }}</a>
        </span>
      </div>
    {{/if}}
  </div>
  {{#if profiles.length}}
    <div id="profiles">
      {{#each profiles}}
        <div class="item">
          {{#if network}}
            <div class="username">
              {{#if url}}
                <span class="url">
                  <span class="icon {{ ICO network }}"></span>
                  <a target="_blank" href="{{ url }}">{{ username }}</a>
                </span>
              {{ else }}
                <span>{{ username }}</span>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>
{{#if summary}}
  {{> components/hr.hbs size="lg" }}
  <section class="section">
    <header>
      <h2 class='section-title'>
        <span class="icon {{ ICO "summary" }}"></span>
        Summary
      </h2>
    </header>
    <section class="main-summary">
      {{{ summary }}}
    </section>
  </section>
{{/if}}
{{/basics}}
