{{#basics}}
<header id="header" class="clear">
  <h1 class="name">{{ name }}
  <img class="image" src="{{ logo }}" width="200">
  </h1>
  {{> components/hr.hbs size="lg" }}
  <div class="label">
    <img src="{{ image }}" width="200">
    <h2>{{ label }}</h2>
  </div>
  {{> components/hr.hbs }}
  {{#location}}
  <span class="location">

  <span class="{{ ICO "location" }}"></span>
    {{#if address}}
      <span class="address">{{ address }},</span>
    {{/if}}
    {{#if postalCode}}
      <span class="postalCode">{{ postalCode }},</span>
    {{/if}}
    {{#if city}}
      <span class="city">{{ city }},</span>
    {{/if}}
    {{#if region}}
      <span class="region">{{ region }}</span>
    {{/if}}
    {{#if countryCode}}
      <span class="countryCode">{{ countryCode }}</span>
    {{/if}}
  </span>
{{/location}}
{{#if birth}}
  {{ birth }}
{{/if}}
<div id="contact">
  {{#if website}}
    <div class="website">
      <span class="fa-solid fa-up-right-from-square"></span>
      <a class="hide-href-print"
         target="_blank"
         target="_blank"
         href="{{ website }}">{{ website }}</a>
    </div>
  {{/if}}
  {{#if email}}
    <div class="email">
    <span class="icon {{ ICO "mail" }}"></span>
      <a class="hide-href-print" href="mailto:{{ email }}">{{ email }}</a>
    </div>
  {{/if}}
  {{#if phone}}
    <div class="phone">
    <span class="icon {{ ICO "phone" }}"></span>
      <a class="hide-href-print" href="tel:{{ phone }}">{{ phone }}</a>
    </div>
  {{/if}}
</div>
{{#if profiles.length}}
  <div id="profiles">
    {{#each profiles}}
      <div class="item">
        {{#if network}}
          <div class="username">
            <!-- <img src="https://cdn.simpleicons.org/{{ network }}" width="16" /> -->
            <span class="icon {{ ICO network }}"></span>
            {{#if url}}
              <span class="url">
                <a target="_blank" href="{{ url }}">{{ username }}</a>
              </span>
            {{ else }}
              <span>{{ username }}</span>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
</header>
{{#if summary}}
  <section class="section">

  <span class="{{ ICO "summary" }}"></span>
    <section class="main-summary">
      {{{ summary }}}
    </section>
  </section>
{{/if}}
{{/basics}}
