{{> components/hr.hbs size="md" }}
{{#if projects.length}}
  <section class="section">
    <header>
      <h2 class='section-title'>
        <span class="icon {{ ICO "opensource" }}"></span>
        Projects <span class="item-count">({{ projects.length }})</span>
      </h2>
    </header>
    <section id="projects">
      {{#each projects}}
        <section class="project-item auto-break-before">
          {{#if @first}}
            <span />
          {{ else }}
            {{> components/hr.hbs }}
          {{/if}}
          {{#if summary}}
            <label for="project-item-{{@index}}"></label>
          {{/if}}
          {{#if name}}
            <header class="clear project-header">
              <section>
                <span class="url">
                  {{#if url}}
                    <span class="icon {{ ICO "link" }}"></span>
                    <a target="_blank" href="{{ url }}">{{ URL url }}</a>
                  {{ else }}
                    <div class="project-name">{{ name }}</div>
                  {{/if}}
                </span>
              </section>
              {{#if startDate}}
                <div class="date">
                  <span class="startDate">{{ MY startDate }}</span>
                  {{#if endDate}}
                    <span class="endDate">- {{ MY endDate }}</span>
                  {{ else }}
                    <span class="endDate">- Current</span>
                  {{/if}}
                </div>
              {{/if}}
            </header>
          {{/if}}
          {{#location}}
          <span class="location">
            {{#if city}}
              <span class="city">{{ city }},</span>
            {{/if}}
            {{#if countryCode}}
              <span class="countryCode">({{ countryCode }})</span>
            {{/if}}
            {{#if region}}
              <span class="region">{{ region }}</span>
            {{/if}}
          </span>
        {{/location}}
        <div class="item">
          {{#if description}}
            <div class="summary">{{ description }}</div>
          {{/if}}
          {{#if highlights.length}}
            <ul class="highlights">
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
        {{#if keywords.length}}
          <ul class="keywords">
            {{#each keywords}}
              <li>
                <span class="icon {{ ICO this }}"></span>
                {{.}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    {{/each}}
  </section>
</section>
{{/if}}
