{{#if publications.length}}
  {{> components/hr.hbs size="md" }}
  <section class="section">
    <header>
      <h2 class='section-title'>
        <span class="icon {{ ICO "article" }}"></span>
        {{ TITLE "publications" }}
      </h2>
    </header>
    <section id="publications">
      {{#each publications}}
        <section class="publication-item">
          {{#if summary}}
            <label for="publication-item-{{@index}}"></label>
          {{/if}}
          <header class="clear">
            <div>
              {{#if name}}
                <span class="name">{{ name }}</span>
              {{/if}}
              {{#if publisher}}
                <span class="url publisher">
                  <span class="icon {{ ICO publisher }}"></span>
                  <a target="_blank" href="{{ url }}">{{ publisher }}</a>
                </span>
              {{/if}}
            </div>
            {{#if releaseDate}}
              <span class="date">{{ DMY releaseDate }}</span>
            {{/if}}
          </header>
          {{#if keywords.length}}
            <ul class="keywords">
              {{#each keywords}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          <div class="item">
            {{#if summary}}
              <div class="summary">{{ summary }}</div>
            {{/if}}
          </div>
        </section>
      {{/each}}
    </section>
  </section>
{{/if}}
